
@import url('https://fonts.cdnfonts.com/css/sharp-sans');
body {
    font-family: "Sharp Sans","Arial",sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaxsGBNxX80asg9URQZhSph3dCmdtGD01wpeEN_cqjSg&s);
}

form {
    background-color: #01a5abd3 ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select {
    font-family: 'Helvetica Neue', sans-serif;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;

}

select {
    margin-bottom: 16px;
    font-family: 'Helvetica Neue', sans-serif;
}

input[type="submit"] , button {
    background-color: #e4000d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
}


input[type="submit"]:hover {
    background-color: #01a5abd3;
}

.botones , button{
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #e4000d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.boton-volver{
    background-color: #e4000d;
    font-family: 'Helvetica Neue', sans-serif;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    align-self: center;
}

.botones:hover , button:hover , .boton-volver:hover{
    background-color: #01a5abd3;
}

.seccion1{
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
    align-self: right;
}

.seccion2{
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
    align-self: right;
}

#checkbox1{
    margin-left: 335px;
}

#checkbox4{
    margin-left:270px;
}

#checkbox5{
    margin-left:305px;
}

.seccion2 input{
    margin-left:290px;
    width: 100%;
}
.seccion1 input{
margin-left: 300px;
}

.ae{
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
justify-items: center;
}

.tabla{
    padding-top: 20px;
    margin-top: 30px;
    padding: 20px;
    background-color: #01a5abb6;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    table-layout:1px;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: auto; 
    margin-left: 1900px;
}

.tabla-descarga {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: auto;
    font-size: smaller;
}

.tabla-descarga th, .tabla-descarga td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tabla-descarga th {
    background-color: #f2f2f2;
}

/* Estilos adicionales para mejorar la apariencia en pantallas pequeñas */
@media screen and (max-width: 600px) {
    .tabla-descarga {
        overflow-x: scroll;
        display: block;
    }

    .tabla-descarga th, .tabla-descarga td {
        white-space: nowrap;
    }
}

table{
    border-radius: 30px;
    background-color: #01a5abb6;
    margin-bottom: 20px;
    
}

.seccion-botones{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: left;
    align-items: left;
    align-self: left;
    text-align: left;
}

.seccion-botones button{
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-items: center;
}

.formulario-filtro{
    display: block;

}


td ,th{
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-inline-end: 80px;

    padding-left: 35px;
    padding-bottom: 10px;

}

.seccion-descarga{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .main-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #555;
    color: #fff;
    border: none;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
  }

  .sub-buttons {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #333;
    min-width: 150px;
    visibility: hidden;
  }

  .main-button:hover .sub-buttons .sub-button{
    display: block;
  }

  .sub-button {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 0;
    background-color: #777;
    color: #fff;
    border: none;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
  }

  .sub-button:hover {
    background-color: #999;
  }